.torrents-list {
  .item.state {@include item-size(5%)}
  .item.name {@include item-size(25%)}
  .item.download {@include item-size(10%)}
  .item.upload {@include item-size(10%)}
  .item.total {@include item-size(10%)}
  .item.ratio {@include item-size(10%)}
  .item.files {@include item-size(15%)}
  .item.actions {@include item-size(15%)}

  .content-item {
    .item.octet, .item.ratio {
      font-size: 0.8em;
      justify-content: center;
      font-weight: 400;
      span {
        font-weight: 600;
      }
    }

    .item.actions {
      align-items: flex-end;
      justify-content: flex-end;

      button {
        margin-left: 0.2em;
        margin-right: 0.2em;
      }
    }
  }
}