.torrents-list {

  .torrents-list-item {
    display: flex;
    flex-direction: column !important;

    .torrents-list-item-meta {
      min-height: 300px;

      .poster {
        width: 250px;
      }
    }

    .footer {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-top: 1em;

      .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 250px;
      }

      .server-name {
        margin-left: auto;
        font-size: 0.6em;
        font-style: italic;
      }
    }
  }
}