@import "~bootstrap/scss/bootstrap";
@import "~toasted-notes/src/styles.css";
@import "~pretty-checkbox/src/pretty-checkbox";
@import "~rc-slider/assets/index.css";

@import "../styles/list";

body, html, #root {
  background-color: $white-light;
  color: $black;
  font-size: 17px;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.parent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1;
  background-image: url('../styles/medias/background-ntn.svg');
  position: relative;
  @include is-loading();

  a {
    color: $white;

    &:hover {
      color: $primary-light;
      text-decoration: none;
    }
  }

  .container-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &.container-side-menu {
      flex-direction: row;

      nav.menu-side {
        flex-shrink: 0;
        overflow: hidden;
      }

      div.content {
        overflow: hidden;
        max-width: 100%;
        flex-grow: 1;
        @include is-loading();
      }
    }

    section.main-block {
      min-height: 15rem;
      margin-top: 1em;
      margin-bottom: 1em;
      background-color: $white-light;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      h1 {
        font-size: 1.5em;
      }

      &.block-content {
        margin-left: 1em;
        margin-right: 1em;
        padding: 1em;
      }
    }
  }
}