@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~toasted-notes/src/styles.css";
@import "~pretty-checkbox/src/pretty-checkbox";
@import "~rc-slider/assets/index.css";
@import "~react-datepicker/src/stylesheets/datepicker";

@import "../styles/list";

body, html, #root {
  background-color: $black-dark;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.notification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  background-color: $white-light;
  padding: 0.5em;
  box-shadow: 2px 2px 2px blackAlpha(0.2),
  -2px -2px 2px blackAlpha(0.2),
  2px -2px 2px blackAlpha(0.2),
  -2px 2px 2px blackAlpha(0.2);

  .icon {
    font-size: 1.8em;
    margin-right: 0.5em;
  }

  .title {
    font-size: 1em;
    font-weight: 700;
    color:$black;
  }

  .message {
    font-size: 0.8em;
    color: $black;
  }

  &.danger {
    border-left: 5px solid $red;
    .icon, .title {
      color: $red;
    }
  }

  &.success {
    border-left: 5px solid $green;
    .icon, .title {
      color: $green;
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $black-dark;
  @include is-loading();
  color: $text-color;
  font-size: 17px;
  font-family: 'Noto Sans JP', sans-serif;

  h1 {
    font-weight: 500;
  }

  h2, h3 {
    font-weight: 400;
  }

  a {
    font-family: 'Noto Sans JP', sans-serif;
    color: $link-color;
    &:hover {
      color: $link-color-hover;
      text-decoration: none;
    }
  }

  .btn {
    font-family: 'Noto Sans JP', sans-serif;

    &.btn-icon {
      i {
        margin-right: 0.5em;
      }
    }

    &.btn-primary {
      color: $white-light;
      &:hover {
        color: $secondary;
      }
    }

    &.btn-secondary {
      color: $black;
      &:hover {
        color: $primary;
      }
    }
  }

  .content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-x: hidden;
    @include is-loading();

    &.content-side {
      flex-direction: row;

      section.block-side {
        flex-grow: 1;
      }
    }

    section.main-block {
      min-height: 300px;
      margin-top: 1em;
      margin-bottom: 1em;
      background-color: $black;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      @include is-loading();

      h1 {
        font-size: 1.5em;
      }

      h2 {
        font-size: 1.2em;
      }

      &.block-content {
        margin-left: 1em;
        margin-right: 1em;
        padding: 1em;
      }
    }
  }
}



.parent {
  position: relative;
  @include is-loading();



  .container-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &.container-side-menu {
      flex-direction: row;

      nav.menu-side {
        flex-shrink: 0;
        overflow: hidden;
      }

      div.content {
        overflow: hidden;
        max-width: 100%;
        flex-grow: 1;
        @include is-loading();
      }
    }

    section.main-block {
      min-height: 15rem;
      margin-top: 1em;
      margin-bottom: 1em;
      background-color: $white-light;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      h1 {
        font-size: 1.5em;
      }

      &.block-content {
        margin-left: 1em;
        margin-right: 1em;
        padding: 1em;
      }
    }
  }
}