@import '~bootstrap/scss/bootstrap.scss';
@import "~toasted-notes/src/styles.css";

body, html, #root {
  background-color: $white-light;
  color: $black;
  font-size: 17px;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.parent {
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 1;
  background-image: url('../styles/medias/background-ntn.svg');

  a {
    color: $primary;

    &:hover {
      color: $primary-light;
      text-decoration: none;
    }
  }

  .container-side-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    nav.menu-left {
      width: $width-left-menu;
      background-color: $primary-light;
    }

    div.content {
      flex-grow: 1;

      &.is-loading {
        position: relative;

        &:before {
          content: '';
          z-index: 900;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: blackAlpha(0.8);;
        }

        &:after {
          z-index: 901;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          left: 50%;
          @extend %fa-icon;
          @extend .fas;
          @extend .fa-spin;
          content: fa-content($fa-var-spinner);
          color: $white;
          width: 50px;
          height: 50px;
          font-size: 5em;
        }
      }
    }
  }

  section.main-block {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: $white-light;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;

    h1 {
      font-size: 1.5em;
    }
  }
}