.streamer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  &.streamer-empty {
    width: 100%;
    height: 100%;
    background-color: $gray-500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}