div.profile-picture {
  $borderSize: 2px;
  height: $height-profile-picture + ($borderSize * 2);
  width: $height-profile-picture + ($borderSize * 2);
  border-radius: 60%;
  background-color: $white-light;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: $borderSize solid $secondary;

  &.sm {
    height: $height-profile-picture-sm + ($borderSize * 2);
    width: $height-profile-picture-sm + ($borderSize * 2);
  }

  &.xl {
    height: $height-profile-picture-xl + ($borderSize * 2);
    width: $height-profile-picture-xl + ($borderSize * 2);
  }

  &.indicator {
    position: relative;
    overflow: visible !important;
    .indicator-item {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
    }
  }
}