.resource-error-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  background-color: primaryAlpha(0.1);
  $size: 2px;
  $over: 2px;
  box-shadow: $size $size $over $red,
  $size * -1 $size * -1 $over $red,
  $size * -1 $size $over $red,
  $size $size * -1 $over $red;

  .title {
    font-weight: 600;
    font-size: 1.2em;
    color: $red;
  }

  .text {
    font-size: 0.8em;
  }
}