.table-profiles {
  .main-table-row:not(.main-table-header) {
    .main-table-item {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    .picture, .id, .validated {
      justify-content: center;
    }

    .picture {
      .profile-picture {
        &.is-validated {
          .indicator-item {
            color: $green;
          }
        }
        &.is-invalidated {
          .indicator-item {
            color: $red;
          }
        }
      }
    }

    .created, .updated {
      font-size: 0.9em;
      justify-content: center;
    }

    .space {
      justify-content: flex-end;

      span {
        font-weight: 600;
      }
    }
  }

  .main-table-row {
    @include media-breakpoint-down(lg) {
      .updated {
        display: none !important;
      }
    }

    @include media-breakpoint-down(md) {
      .picture {
        min-width: 70px;
      }
      .id {
        display: none !important;
      }
      .space {
        max-width: 10%;
      }
    }

    @include media-breakpoint-down(xs) {
      .created {
        display: none !important;
      }
      .space {
        max-width: 20%;
      }
      @media (max-width: 400px) {
        .space {
          max-width: 10%;
        }
        .roles {
          max-width: 10%;
        }
      }
    }
  }
}