.content-stream {
  margin-left: 1em;
  margin-right: 1em;

  .block-stream-menu {
    flex-basis: 60%;
    flex-grow: 0 !important;
    padding: 1em;

    .medias {
      a {
        color: $black;
        &:hover {
          color: $secondary;
        }
      }
    }
  }

  .block-stream-video {
    flex-grow: 1;
    margin-left: 1em;
  }
}