@mixin content-error() {
  h3 {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    color: $red;
  }

  p {
    padding: 0;
    color: $black;
    font-size: 0.8em;
    font-style: italic;
  }
}

.main-list {
  display: flex;
  flex-direction: column;

  .main-list-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $gray-500;
    margin-bottom: 1em;
    padding-bottom: 1em;
    width: 100%;

    &:last-child {
      border: none;
      margin-bottom: inherit;
    }

    &.item-loading, &.item-empty, &.item-error {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: primaryAlpha(0.2);
      text-align: center;
      width: 100%;
      height: 150px;
    }

    &.item-empty, &.item-loading {
      font-style: italic;
    }

    &.item-error {
      @include content-error();
    }
  }
}

table.main-table {
  border: 1px solid blackAlpha(0.5);

  thead.main-table-header {
    border-bottom: 2px solid blackAlpha(0.5);
  }

  .main-table-row {
    border-top: 1px solid blackAlpha(0.5);

    &:first-child {
      border-top: none;
    }

    .main-table-item {
      padding: 0.2em 0.5em;
      border-left: 1px solid blackAlpha(0.5);

      &:first-child {
        border-left: none;
      }
    }
  }

  .main-table-empty, .main-table-loading {
    .main-table-item {
      font-size: 1em;
      font-style: italic;
      text-align: center;
    }
  }

  .main-table-error {
    .main-table-item {
      text-align: center;
      padding: 1em;
      @include content-error();
    }
  }
}






.list-main {
  display: flex;
  flex-direction: column;
  border: 1px solid blackAlpha(0.5);
  border-radius: 2px;
  box-shadow: 2px 2px 5px blackAlpha(0.2);
  max-width: 100%;
  min-width: 50px;
  @include is-loading();

  .title-item, .content-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
  }

  .title-item {
    text-align: center;
    border-bottom: 1px solid blackAlpha(0.2);
    background-color: $primary;

    .item {
      border-left: 1px solid $white-light;
      padding: 0.5em;
      color: $white-light;
      font-weight: 600;
      text-align: center;

      &:first-child {
        border-left: none;
      }
    }
  }

  .content-item {
    .item {
      border-left: 1px solid primaryAlpha(0.5);
      display: flex;
      align-items: center;
      text-align: center;
      padding: 0.5em;
    }

    &:nth-child(2n) {
      background-color: whiteAlpha(0.1);
    }

    &:nth-child(2n+1) {
      background-color: secondaryAlpha(0.1);
    }

    &.item-clicked {
      &:hover {
        cursor: pointer;
        background-color: primaryAlpha(0.2);
      }
    }

    &:first-child {
      border-left: none;
    }
  }

  .item {
    &, & > * {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      min-width: 0;
    }
  }

  .loading-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
  }

  .no-item {
    font-style: italic;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:1em;
    color: blackAlpha(0.5);
  }
}