@mixin content-error() {
  h3 {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    color: $red;
  }

  p {
    padding: 0;
    color: $black;
    font-size: 0.8em;
    font-style: italic;
  }
}

.main-list {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  .main-list-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $gray-500;
    margin-bottom: 1em;
    padding-bottom: 1em;
    width: 100%;

    &:last-child {
      border: none;
      margin-bottom: inherit;
    }

    &.item-loading, &.item-empty, &.item-error {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: primaryAlpha(0.8);
      box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
      text-align: center;
      width: 100%;
      height: 150px;
    }

    &.item-error {
      @include content-error();
    }
  }
}

div.main-table {
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;

  .main-table-row {
    .main-table-item {
      padding: 0.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & > * {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .main-table-row:not(.main-table-header) {

    &.row-clickable {
      cursor: pointer;
    }
  }
}

div.main-table-primary {
  .main-table-header {
    background-color: $primary;
  }

  .main-table-row {
    border-left: 1px solid $black-dark;
    border-right: 1px solid $black-dark;
    border-top: 1px solid $black-dark;
    &:last-child {
      border-bottom: 1px solid $black-dark;
    }

    .main-table-item {
      border-left: 1px solid $black-dark;
      &:first-child {
        border-left: none;
      }
    }
  }

  .main-table-row:not(.main-table-header) {
    &:nth-child(2n) {
      background-color: whiteAlpha(0.1);
    }

    &:nth-child(2n+1) {
      background-color: secondaryAlpha(0.1);
    }

    &.row-clickable {
      &:hover {
        background-color: $primary;
      }
    }
  }
}

table.main-table {
  border: 1px solid blackAlpha(0.5);

  thead.main-table-header {
    border-bottom: 2px solid blackAlpha(0.5);
  }

  .main-table-row {
    border-top: 1px solid blackAlpha(0.5);

    &:first-child {
      border-top: none;
    }

    .main-table-item {
      padding: 0.2em 0.5em;
      border-left: 1px solid blackAlpha(0.5);

      &:first-child {
        border-left: none;
      }
    }
  }

  .main-table-empty, .main-table-loading {
    .main-table-item {
      font-size: 1em;
      font-style: italic;
      text-align: center;
    }
  }

  .main-table-error {
    .main-table-item {
      text-align: center;
      padding: 1em;
      @include content-error();
    }
  }
}

table.main-table-primary {
  border: 1px solid $black-dark;
  overflow-x: auto;
  thead {
    background-color: $primary;
  }

  .main-table-row:not(.main-table-header) {
    &:nth-child(2n) {
      background-color: whiteAlpha(0.1);
    }

    &:nth-child(2n+1) {
      background-color: secondaryAlpha(0.1);
    }

    .main-table-item {
      border-left: 1px solid $black;

      &:first-child {
        border-left: none;
      }
    }
  }
}