.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blackAlpha(0.8);
  }

  .modal-component {
    width: 60%;
    height: 60%;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px blackAlpha(0.2);
    overflow: auto;
  }
}