$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Colors
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$black-dark: #000000;
$black: #1F2421;
$black-light: lighten($black, 10%);
@function blackAlpha($alpha) {
  @return rgba(31,36,33,$alpha);
}

$white: #ffffff;
$white-light: #DCE1DE;
@function whiteAlpha($alpha) {
  @return rgba(255,255,255,$alpha);
}

$green: #49A078;
@function greenAlpha($alpha) {
  @return rgba(73,160,120, $alpha);
}


$red: #F26659;
@function redAlpha($alpha) {
  @return rgba(242,102,89, $alpha);
}

$blue: #4F7CAC;
@function blueAlpha($alpha) {
  @return rgba(79, 124, 172, $alpha);
}

//$primary: #216869;
$primary: #18435A;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);
@function primaryAlpha($alpha) {
  @return rgba(24, 67, 90, $alpha);
}

//$secondary: #49A078;
//$secondary-light: lighten($secondary, 10%);

$secondary: #3E92CC;
$secondary-light: lighten($secondary, 10%);
$secondary-dark: darken($secondary, 10%);
@function secondaryAlpha($alpha) {
  @return rgba(62,146,204,$alpha);
}

$yellow: #F18F01;
@function yellowAlpha($alpha) {
  @return rgba(241, 143, 1, $alpha);
}

$movieColor: #55ae95;
$tvShowColor: #c83660;


$text-color: $white-light;
$link-color: $secondary;
$link-color-hover: $secondary-light;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "sucess": $green,
  "danger": $red,
);


// Sizes
$height-header: 60px;
$padding-header: 5px;
$height-profile-picture: 40px;
$height-profile-picture-sm: 80px;
$height-profile-picture-xl: 150px;
$width-left-menu: 200px;

// Mixins
@mixin item-size($size) {
  flex-basis: $size;
  max-width: $size;
  min-width: $size;
}

@mixin is-loading() {
  &.is-loading {
    position: relative;
    overflow: hidden;
    min-height: 15rem;

    &:before {
      content: '';
      z-index: 900;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: blackAlpha(0.8);
    }

    &:after {
      z-index: 901;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      @extend %fa-icon;
      @extend .fas;
      @extend .fa-spin;
      content: fa-content($fa-var-spinner);
      color: $white;
      width: 50px;
      height: 50px;
      font-size: 5em;
    }
  }
}