div.table-torrents {
  .main-table-row:not(.main-table-header) {
    .main-table-item {
      &.state {
        text-align: center;
      }

      &.octet, &.ratio {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        text-align: right;
        font-weight: 400;
        span {
          font-weight: 600;
        }
      }

      &.actions {
        text-align: right;
        button {
          margin-left: 0.5em;
        }
      }
    }
  }
}

.torrents-list {
  .content-item {

    .item.actions {
      align-items: flex-end;
      justify-content: flex-end;

      button {
        margin-left: 0.2em;
        margin-right: 0.2em;
      }
    }
  }
}