table.torrents-table {
  thead.main-table-header {
    background-color: $primary;
    color: $white;
  }

  .main-table-row:not(.main-table-header) {
    &:nth-child(2n) {
      background-color: whiteAlpha(0.1);
    }

    &:nth-child(2n+1) {
      background-color: secondaryAlpha(0.1);
    }

    a {
      color: $black;
      &:hover {color: $primary;}
    }

    .main-table-item {
      &.state {
        text-align: center;
      }

      &.octet, &.ratio {
        font-size: 0.7em;
        text-align: right;
        font-weight: 400;
        span {
          font-weight: 600;
        }
      }

      &.actions {
        text-align: right;
        button {
          margin-left: 0.5em;
        }
      }
    }
  }
}

.torrents-list {
  .content-item {

    .item.actions {
      align-items: flex-end;
      justify-content: flex-end;

      button {
        margin-left: 0.2em;
        margin-right: 0.2em;
      }
    }
  }
}