header.global-header {
  background-color: $primary;
  display: flex;
  align-items: center;
  padding: $padding-header 1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5), -2px 0px 5px rgba(0,0,0,0.5);
  z-index: 2;

  .logo {
    height: $height-header;

    img {
      height: 100%;
      width: auto;
    }
  }

  .titles {
    margin-left: 0.5em;

    h3, h2 {
      color: $text-color;
      margin: 0;
      padding: 0;
    }

    h2 {
      font-weight: 600;
      font-size: 1.4em;
    }

    h3 {
      font-size: 0.7em;
    }
  }

  .profile {
    margin-left: auto;
    display: flex;
    flex-direction: row;

    .header-profile {
      border: 2px solid $secondary;
    }
  }
}