@function getShadow($shadow-size, $firstColor, $secondColor) {
  @return (-1 * $shadow-size) (-1 * $shadow-size) 0 $firstColor,
          (-1 * $shadow-size) $shadow-size 0 $firstColor,
          ($shadow-size) ($shadow-size) 0 $firstColor,
          ($shadow-size) (-1 * $shadow-size) 0 $firstColor,
          ($shadow-size + 2px) ($shadow-size + 2px) $secondColor;
}

$sizeFormFile: 120px;

.form-main {
  display: flex;
  flex-direction: column;

 .form-input {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
   position: relative;

   .form-group {
     display: flex;
     flex-direction: column;
     margin-bottom: 0;

     .form-control {
       border-color: $primary;
       background-color:$white-light;
       width: auto;
     }
   }

   .invalid-feedback {
     span {
       display: block;
     }
   }

   &.input-select {
     .form-select-control {
       .form-select-control__value-container {
         outline: none;
       }

       .form-select-control__control {
         border-color: $primary;
         background-color: $white-light;

         &:focus, &:hover, &.form-select-control__control--menu-is-open, &.form-select-control__control--is-focused {
           border-color: $secondary;
         }

         .form-select-control__multi-value {
           background-color: $secondary;
           .form-select-control__multi-value__label {
             color: $white-light;
           }
         }

         .form-select-control__multi-value__remove:hover {
           background-color: redAlpha(0.2);
           color: $red;
         }
       }

       .form-select-control__option {
         &:focus, &:hover, &.form-select-control__option--is-focused {
           background-color: secondaryAlpha(0.5);
           color: $black;
         }
       }
     }
   }

   &.input-file, &.input-image {
     .form-file {
       height: $sizeFormFile;
       width: $sizeFormFile;
       overflow: hidden;
       cursor: pointer;
       position: relative;

       &:before {
         transition: top 500ms, background-color 500ms;
         @extend %fa-icon;
         @extend .fas;
         content: fa-content($fa-var-upload);
         color: $white-light;
         font-size: 3em;
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
       }

       &:hover {
         background-color: blackAlpha(0.7);
       }

       input[type=file] {
         opacity: 0;
         padding: 0;
         height: 100%;
         width:100%;
         cursor: pointer;
       }

       &.is-valid {
         background-color: $green;
         background-image: url('../../styles/medias/check.svg');

         &:before {
           display: none;
         }
       }

       &.is-invalid {
         background-color: $red;
         background-image: url('../../styles/medias/error.svg') !important;

         &:before {
           display: none;
         }
       }
     }
   }

   &.input-file {
     .form-file {
       border-radius: 25%;
       border: 2px solid $white;
       box-shadow: 2px 2px 2px blackAlpha(0.2);
       background-color: blackAlpha(0.8);

       .file-name {
         position: absolute;
         bottom: 0.2em;
         right: 0.5em;
         font-size: 1.5em;
         color: $white;
         white-space: nowrap;
         text-overflow: ellipsis;
       }
     }
   }

   &.input-image {
     .form-file {
       border-radius: 50%;
       border: 2px solid $white;
       box-shadow: 2px 2px 2px blackAlpha(0.2);
       background-color: blackAlpha(0.8);
       background-size: contain;
       background-position: center;

       &:before {
         background-color: blackAlpha(0.8);
       }

       &:hover {
         &:before {
           background-color: blackAlpha(0.6);
         }
       }
     }
   }

   &.input-checkbox {
     margin-left: 20%;
   }

   &.input-meta {
     display: flex;
     flex-direction: row;
     justify-content: space-between;

     .input-meta-item {
       flex-basis: 32%;
       border: 1px solid $primary;
       $boxShadowSize: 2px;
       box-shadow: $boxShadowSize $boxShadowSize 2px blackAlpha(0.2),
       $boxShadowSize * -1 $boxShadowSize 2px blackAlpha(0.2),
       $boxShadowSize $boxShadowSize * -1 2px blackAlpha(0.2),
       $boxShadowSize * -1 $boxShadowSize * -1 2px blackAlpha(0.2);

       &.active {
         background-color: secondaryAlpha(0.3);
       }

       &.item-thumbnail {
         display: flex;
         flex-direction: column;

         .meta-details {
           flex-grow: 1;

           .meta-poster {
             float: left;
             margin-right: 0.5em;
             margin-bottom: 0.5em;
             height: 250px;
             width: 170px;
             background-size: contain;
             background-repeat: no-repeat;
           }

           .data {
             padding: 0.5em;
           }

           .header {
             display: flex;
             flex-direction: row;

             .media-type-badge {
               flex-grow: 1;
               font-weight: 400;
               font-size: 1em;
               align-items: center;
               justify-content: center;
               display: flex;
               box-shadow: 2px 2px 2px blackAlpha(0.2);
               border-radius: 3px;

               &.tv {
                 background-color: blueAlpha(0.5);
               }

               &.movie {
                 background-color: yellowAlpha(0.5);
               }
             }

             button {
               margin-left: 0.5em;
             }
           }

           .title {
             font-weight: 600;
             text-align: center;
             font-size: 1.2em;
             margin-top: 0.5em;
           }

           .details {
             display: flex;
             flex-direction: row;
             justify-content: space-between;
             font-size: 0.8em;
           }

           .genres {
             text-align: center;
           }

           .overview {
             margin-top: 0.5em;
             font-size: 0.8em;
             text-align: justify;
           }
         }

         .btn-choose {
           margin: 0.5em;

           button {
             width: 100%;
           }
         }
       }

       &.item-edit {
         padding: 0.5em;
       }
     }
   }

   &.form-input-align {
     .form-group {
       flex-direction: row;
       align-items: center;

       .form-label {
         white-space: nowrap;
         flex-basis: 20%;
         margin-bottom: 0;
       }

       .form-label+* {
         flex-grow: 1;
       }
     }

     .invalid-feedback {
       text-align: right;
     }

     &.input-image {
       .form-group {
         justify-content: center;
       }

       .invalid-feedback {
         text-align: center;
       }
     }
   }
 }

  button[type=submit] {
    margin-left: auto;
  }
}